{% extends 'layouts/main.html' %}

{% block title %}
<title>Создание заказа</title>
{% endblock %}

{% block content %}
<div class="card">
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
{#        <div>#}
{#            <input type="text" id="description" value="{%firstof form.price.value ''%}">#}
{#        </div>#}
{#        <div>#}
{#            <label class="control-label" for="price">Прайс <i class="fa fa-rub" aria-hidden="true"></i></label>#}
{#            <input type="number" id="price" value="{%firstof form.price.value ''%}">#}
{#        </div>#}
        <input type="submit">
    </form>

</div>
{% endblock %}
