{% extends 'layouts/main.html' %}

{% block title %}
<title>Тип сделки</title>
{% endblock %}

{% block content %}
<div class="col-md-6 type-container">
    <a class="btn btn-default type-btn" href="#">
        <div>
            <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
            <br/>
            купить
        </div>
    </a>
</div>
<div class="col-md-6 type-container">
    <a class="btn btn-default type-btn" href="#">
        <div>
            <i class="fa fa-rub fa-3x" aria-hidden="true"></i>
            <br/>
            продать
        </div>
    </a>
</div>
{% endblock %}
