{% extends 'layouts/main.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h1>Вход</h1>

        <form method="POST">
          {% csrf_token %}
          <p class="bg-danger {{ form.non_field_errors|yesno:"rounded-error-message," }}">{{form.non_field_errors|striptags}}</p>
          <div class="form-group {{ form.username.errors|yesno:"has-error," }}">
            <label class="control-label" for="username">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username" required placeholder="Имя пользователя" value="{%firstof form.username.value ''%}" aria-describedby="username-message">
            <span id="username-message" class="help-block">{{form.username.errors|striptags}}</span>
          </div>
          <div class="form-group {{ form.password.errors|yesno:"has-error," }}">
            <label class="control-label" for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required placeholder="Пароль" aria-describedby="password-message">
            <span id="password-message" class="help-block">{{form.password.errors|striptags}}</span>
          </div>
          <input type="hidden" name="next" value="/">
          <button type="submit" class="btn btn-default">Войти</button>
        </form>
    </div>
{% endblock %}

